*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    overflow-y: hidden;
}

.img{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}

header{
position: absolute;
top: 1%;
font-size: 50px;
left: 55%;
font-family: 'Foldit', cursive;
color: rgb(8, 8, 8);
}

.btn-search{
    position: absolute;
    top: 23%;
    left: 70%;
}

.container button{
    border: none;
    padding: 10px;
    background-color: rgb(81, 119, 242);
    font-size: 20px;
    border-radius: 10px;

}

button:hover{
    background-color: rgb(108, 165, 240);
    font-size: 22px;
}   

.display-container{
    position: absolute;
    top: 33%;
    left: 55%;
    width: 600px;
    max-height: 450px;
    line-height: 40px;
    background-color: rgb(242, 242, 242);
    overflow-y: auto;
    border-radius: 10px;
    padding: 5px;   
}

.para{   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
}